@import '/utils/mixins';
:root {
    --red: #ff5653;
    --blue: #99c3ed;
    --yellow: #fae851;
    --lime: #7ad658;
    --green: #c2fa52;
    --white: #ffffff;
}

body {
    overflow-y: scroll;

}

html {
    font-size: 16px;
}

.container {
    max-width: 900px;
    width: calc(100% - 2rem);
    margin: 0 auto;
    left: 0.5rem;
    right: 0.5rem;

    .page_title, h1 {
        @include woosh();
        text-align: center;
        padding: 3rem 0;
        font-size: 3rem;
        line-height: 2.75rem;
        text-shadow: 0.25rem 0.25rem 0rem black;
        color: #f2f2f2;
    }

    .page_container {
        background-color: #262626;
        border-radius: 2em;
        padding: 2rem;
        overflow: hidden;
        box-shadow: 0rem 0rem 0.5rem #000a;
        p {
            text-align: left;
        }
        &:first-child {
            margin-top: 3rem;
        }
    }

    .separator {
        height: 1px;
        background: #555;
        display: block;
        margin: 2rem 1rem;
    }
}


h1, h2, h3, h4, h5, h6 {
    margin: 1rem auto;
    color: #f2f2f2;
}

p {
    color: #999;
}

.button {
    display: inline-block;
    color: var(--red);
    padding: 0.5rem;
    border: 0.25rem solid var(--red);
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1rem;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    &:active {
        background: #bf3c3a;
    }
    &:hover {
        text-decoration: none;
        background: var(--red);
        color: #262626;
    }
    i {
        margin-left: -2px;
    }
    &.large {
        padding: 1rem 1.25rem;
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
}

@media only screen and (max-width: 425px) {
    html {
        font-size: 14px;
    }
    .container .page_title,
    .container h1 {
        padding: 2rem 0;
    }
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 12px;
    }
    .container .page_title,
    .container h1 {
        padding: 1rem 0;
    }
}
